* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 90px;
    .header-top-box {
        width: 100%;
        background: #333;
        .header-top {
            height: 40px;
            width: 1140px;
            margin: 0 auto;
            .header-top-left {
                float: left;
                a {
                    display: inline-block;
                    font-size: 12px;
                    color: #b0b0b0;
                    line-height: 40px;
                }
                span {
                    font-size: 12px;
                    padding: 11px;
                    color: #424242;
                }
            }
            .login {
                float: right;
                a {
                    display: inline-block;
                    font-size: 12px;
                    line-height: 40px;
                    color: #b0b0b0;
                }
                span {
                    padding: 11px;
                    color: #424242;
                    font-size: 12px;
                }
            }
            .header-top-shoppingcar {
                a {
                    margin-left: 15px;
                    float: right;
                    height: 40px;
                    font-size: 12px;
                    color: #b0b0b0;
                    line-height: 40px;
                    padding: 0 19px;
                    img {
                        width: 20px;
                        position: relative;
                        top: 5px;
                    }
                }
            }
        }
    }
    .header-nav {
        height: 50px;
        width: 1140px;
        margin: 0 auto;
        background: #f4f4f4;
        .header-nav-search-active {
            display: block;
        }
        .header-nav-search {
            display: none;
            width: 890px;
            height: 290px;
            background: pink;
            z-index: 20;
            position: relative;
            top: 0;
            left: 250px;
            .header-nav-search-close {
                width: 50px;
                height: 50px;
                border: 0;
                a {
                    color: #3a3a3a;
                    font-weight: 600;
                    font-size: 18px;
                }
                position: absolute;
                top: 0;
                left: 890px;
                background: #f4f4f4;
                outline: 0;
            }
            .header-nav-search-input {
                height: 50px;
                background: #f4f4f4;
                position: relative;
                img {
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 15px;
                    left: 0;
                }
                input {
                    width: 870px;
                    height: 30px;
                    padding: 1px 0 1px 0;
                    border: 0;
                    position: absolute;
                    top: 10px;
                    left: 20px;
                    background: #f4f4f4;
                    outline: 0;
                }
            }
            .header-nav-search-list {
                width: 890px;
                height: 210px;
                background: #ffffff;
                padding: 15px 10px;
                li {
                    width: 870px;
                    height: 30px;
                    padding: 0 0 0 30px;
                    a {
                        width: 840px;
                        height: 30px;
                        font-size: 14px;
                        color: #767676;
                        line-height: 30px;
                    }
                }
            }
        }
        .header-nav-konkaicon {
            margin-left: 15px;
            padding: 11px 15px;
            float: left;
            a {
                width: 112px;
                height: 28px;
                display: block;
            }
        }
        .header-nav-index {
            float: left;
            text-align: center;
            width: 72px;
            height: 50px;
            a {
                color: #767676;
                font-size: 14px;
                line-height: 50px;
            }
        }
        .header-nav-list {
            float: left;
            text-align: center;
            .header-nav-list-active {
                background: #ffffff;
            }
            .header-nav-list-item {
                float: left;
                width: 72px;
                height: 50px;
                a {
                    // color: orange;
                    color: #767676;
                    font-size: 14px;
                    line-height: 50px;
                }
            }
        }
        .header-nav-seachicon-hover {
            background-color: #ffffff;
        }
        .header-nav-searchicon {
            width: 72px;
            height: 50px;
            float: left;
            a {
                width: 21px;
                height: 20px;
                img {
                    position: relative;
                    top: 15px;
                    left: 25px;
                }
            }
        }
    }
    .header-nav-downlist {
        width: 1140px;
        height: 310px;
        padding: 20px 0 0 0;
        margin: 0 auto;
        z-index: 10;
        // overflow: hidden;
        position: relative;
        display: none;
        .downlist-container {
            background: #ffffff;
            position: absolute;
            top: 0;
            left: 0;
            height: 310px;
            .header-nav-downlist-ul {
                height: 310px;
                li {
                    padding: 0 15px;
                    width: 160px;
                    height: 260px;
                    float: left;
                    a {
                        img {
                            width: 160px;
                            height: 160px;
                        }
                    }
                    h4 {
                        font-size: 16px;
                        margin: 0 16px;
                        color: #222222;
                        width: 128px;
                        height: 30px;
                        font-weight: 500;
                        line-height: 30px;
                        text-align: center;
                    }
                    p {
                        width: 128px;
                        height: 30px;
                        margin: 0 16px;
                        font-size: 14px;
                        color: #989898;
                        line-height: 30px;
                    }
                    span {
                        display: inline-block;
                        width: 160px;
                        height: 30px;
                        color: #ED1c24;
                        margin: 0 0 10px;
                        font-size: 14px;
                        line-height: 30px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

.banner {
    // width: 1920px;
    height: 500px;
    position: relative;
    .banner-imglist {
        position: relative;
        // width: 1520px;
        height: 500px;
        z-index: -5;
        ul {
            width: 900%;
            height: 100%;
            position: absolute;
            top: 0;
            left: -1920px;
            overflow: hidden;
            li {
                float: left;
                width: 1920px;
                height: 500px;
                img {
                    width: 1920px;
                    height: 500px;
                    display: block;
                }
            }
        }
    }
    .banner-img-left {
        width: 190px;
        height: 500px;
        // background: green;
        float: left;
        z-index: -1;
        position: absolute;
        left: 190px;
        top: 0;
        // opacity: 0;
        .banner-img-lefticon {
            position: absolute;
            top: 205px;
            left: 150px;
            font-size: 40px;
            font-weight: 900;
            color: white;
            opacity: 1;
        }
    }
    .banner-img-right {
        width: 190px;
        height: 500px;
        // background: red;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 1520px;
        // opacity: 0;
        .banner-img-righticon {
            position: absolute;
            top: 205px;
            right: 150px;
            font-size: 40px;
            font-weight: 900;
            color: white;
            opacity: 1;
        }
    }
    .banner-container {
        width: 1140px;
        height: 450px;
        // background: pink;
        position: absolute;
        top: 0;
        left: 190px;
        .banner-container-list {
            background: rgba(0, 0, 0, 0.6);
            width: 264px;
            height: 100%;
            float: left;
            padding: 25px 0;
            .banner-container-list-ul {
                .banner-container-list-ul-item {
                    height: 45px;
                    a {
                        display: block;
                        position: relative;
                        width: 234px;
                        height: 45px;
                        padding: 0 0 0 30px;
                        color: #ffffff;
                        font-size: 16px;
                        line-height: 45px;
                        span {
                            position: absolute;
                            top: -2px;
                            right: 20px;
                            font-size: 30px;
                            color: #ffffff;
                            line-height: 45px;
                        }
                    }
                }
            }
        }
    }
}

.bottom {
    width: 1140px;
    height: 530px;
    margin: 0 auto;
    .bottom-text {
        border-bottom: 1px solid #B2B2B2;
        padding: 40px 0 20px;
        height: 54px;
        ul {
            height: 54px;
            margin: 0 20px;
            li {
                width: 185px;
                height: 54px;
                padding: 0 0 0 35px;
                float: left;
                .bottom-text-icon {
                    float: left;
                    position: relative;
                    top: 12px;
                }
                .bottom-text-title {
                    margin-left: 10px;
                    float: left;
                    h4 {
                        font-size: 18px;
                        color: #B2B2B2;
                        margin: 10px 0 5px;
                        line-height: 18px;
                    }
                    span {
                        font-size: 12px;
                        color: #B2B2B2;
                        line-height: 12px;
                    }
                }
            }
        }
    }
    .bottom-link {
        height: 316px;
        padding: 50px 0;
        .bottom-link-list {
            height: 316px;
            width: 890px;
            float: left;
            dl {
                float: left;
                width: 140px;
                dt {
                    font-size: 14px;
                    font-weight: 900;
                    color: #333333;
                    line-height: 35px;
                }
                dd {
                    a {
                        font-size: 12px;
                        color: #767676;
                        line-height: 35px;
                    }
                }
            }
        }
        .bottom-link-phone {
            float: right;
            border-left: 1px solid #eaeaea;
            width: 249px;
            height: 125px;
            text-align: center;
            .text {
                font-size: 14px;
                color: #6F6C71;
                font-weight: 800;
                margin: 0 0 10px;
            }
            .phone-number {
                font-size: 26px;
                color: #FF5D59;
                margin: 0 0 15px;
            }
            a {
                display: inline-block;
                border: 1px solid #FF5D59;
                font-size: 14px;
                padding: 5px 10px;
                line-height: 14px;
                color: #FF5D59;
            }
        }
    }
}

.footer-text {
    width: 1320px;
    height: 100px;
    background: #313131;
    padding: 0 100px;
    .footer-text-icon {
        float: left;
        position: relative;
        top: 37px;
    }
    .footer-text-link {
        float: right;
        span {
            float: left;
            font-size: 12px;
            color: #666666;
            line-height: 100px;
            margin: 0 5px 0 5px;
        }
        li {
            float: left;
            a {
                font-size: 12px;
                color: #666666;
                line-height: 100px;
            }
        }
    }
    .footer-text-p {
        float: right;
        font-size: 12px;
        color: #666666;
        line-height: 100px;
    }
}

.footer-imglink {
    width: 1520px;
    height: 52px;
    padding: 10px 0;
    text-align: center;
}